<div id='main_container'>
  <div id='content_container'>
    <div id='controls_container' class='grey lighten-3 z-depth-1'>

      <div class="file-upload">
          <div class="file-select">
            <div class="file-select-button" id="fileName">Choose Video</div>
            <div class="file-select-name" id="noFile">No video chosen...</div> 
            <input type="file" accept="video/*" name="chooseFile" id="chooseFile">
          </div>
      </div>

      <button class="btn" [disabled]="videoChosen == false" (click)="toggleBroadcast()" style="margin-left: 10vw;">
        {{ broadcasting ? 'End' : 'Begin' }} broadcast
      </button>
    </div>
  
    <br>
    <h3 style="text-align: center;"> {{broadcastingMessage}} </h3> 
    <br>
    <div id='video_container'>
      <video controls autoplay id='video_player'>
        <source src="videoplayback.mp4" type="video/mp4">
      </video>
    </div>

    <div id='preview_container' style="text-align:center">
      <h3> {{streamPreviewMessage}} </h3>  
      <canvas id='stream_preview'></canvas> <!-- this is for the decrypted data to be render in here -->
    </div>

  </div>

  <div id='users_container'>
    <active-users (userSelected)="userSelected($event)"></active-users>
  </div>
</div>
