<div id='main_container'>
  <div id='content_container'>
    <div id='controls_container' class='grey lighten-3 z-depth-1'>
      <div class="file-field input-field" id='video_picker' (click)="chooseSourceVideo()">
        <div class="btn waves-effect waves-light">
          <span>Choose video</span>
        </div>
        <div class="file-path-wrapper">
          <input placeholder="No video is selected"
          id="video_path" type="text"
          class="file-path validate"
          readonly>
        </div>
      </div>
      <button class="waves-effect waves-light btn"
      (click)="toggleBroadcast()">
      {{ broadcasting ? 'End' : 'Begin' }} broadcast
      </button>
      </div>
      <div id='preview_container'>
        <canvas id='stream_preview'></canvas>
      </div>
      <div id='video_container'>
        <video controls id='video_player'>
          <source src="movie.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
        </video>
      </div>
  </div>

  <div id='users_container'>
    <h4 class='title'> Active users </h4>
    <div *ngFor="let user of users">
      {{ user.name }}
    </div>
  </div>
</div>

<router-outlet></router-outlet>
